@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Cabin:ital@1&family=Caveat&family=IBM+Plex+Mono&family=Montserrat:wght@400;700;900&family=Nunito:wght@200&family=Orbitron&family=Poppins:wght@200&family=Roboto&family=Rubik&family=Space+Mono:wght@700&display=swap');


// color variables

@cyan : #26c0ab;
@strongcyan : #00494d;
@darkgreyishcyan : #5e7a7d;
@greyishcyan : #7f9c9f;
@lightgreyishcyan : #c5e4e7;
@verylightgreyishcyan : #f4fafa;
@white : #ffffff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tipcalculator {
    &__inner {
        max-width: 1440px;
        background-color: @lightgreyishcyan;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        background-color: @white;
        padding: 30px 30px 90px 30px;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        margin: 0 20px;
        // width: 50%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 40px;
        position: relative;
        

        @media screen and (max-width:1024px) {
            flex-direction: column;
            gap: 20px;

        }

    }

    &__heading {
        font-family: 'Space Mono', monospace;
        margin-bottom: 10px;
        display: block;
        color: @strongcyan;
        opacity: 0.7;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 12px;
            color: red;
        }
    }

    &__input {
        flex: 1 1 50%;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (max-width:767px) {
            gap: 10px;
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-opt {
            padding: 10px 10px;
            flex: 1 1 25%;
            border-radius: 5px;
            color: @white;
            background-color: @strongcyan;
            border: none;
            font-family: 'Space Mono', monospace;
            // font-family: specimen;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;

            &.custom {
                background-color: @verylightgreyishcyan;
                color: @darkgreyishcyan;
            }

            &:hover {
                background-color: @cyan;
                // box-shadow: 0 0 0 2px inset @strongcyan;
                color: @strongcyan;
                transition: all 0.2s;
            }
        }

        &-custom {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            background: #f4fafa;
            font-size: 20px;
            text-align: right;
            color: #00494d;
            font-weight: 700;
            font-family: 'Space Mono', monospace;
            box-shadow: 1px 1px 1px #c5e4e7;


        }
    }

    &__custom {

        &-container {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-error {
            margin-left: auto;
            font-family: 'Space Mono', monospace;
            color: red;
            font-size: 12px;
        }
    }

    &__price {
        &-input {
            width: 100%;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            background-color: @verylightgreyishcyan;
            border: none;
            text-align: right;
            box-shadow: 1px 1px 1px @lightgreyishcyan;
            color: @strongcyan;
            font-weight: 700;
            font-family: 'Space Mono', monospace;
            font-size: 20px;

            &[type="value"] {
                text-align: left !important;
            }

        }
    }

    &__dollar-icon {
        position: absolute;
        top: 2px;
        left: 10px;
    }

    &__people {
        background-color: @verylightgreyishcyan;
        padding: 3px 8px;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 1px 1px 1px @lightgreyishcyan;

    }

    &__icon {
        color: @darkgreyishcyan;
        opacity: 0.7;
    }

    &__peopleinput {
        padding: 5px;
        width: 100%;
        background-color: @verylightgreyishcyan;
        border: none;
        outline: none;
        text-align: right;
        position: relative;

        color: @strongcyan;
        font-weight: 700;
        font-family: 'Space Mono', monospace;
        font-size: 20px;

    }

    &__result {
        flex: 1 1 50%;
        height: auto;
        background-color: @strongcyan;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-content {
            display: flex;
            flex-direction: column;

        }

        &-line1 {
            color: @white;
            font-family: 'Space Mono', monospace;
        }

        &-line2 {
            color: @darkgreyishcyan;
            font-family: 'Space Mono', monospace;

        }

        &-per-person {
            font-family: 'Space Mono', monospace;
            color: #26c0ab;
            font-size: 40px;
        }



    }

    &__ammount {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;

        @media screen and (max-width : 767px) {
            gap: 10px;
        }
    }

    &__reset {
        margin-top: auto;
        padding: 10px;
        border: none;
        background-color: @cyan;
        color: @strongcyan;
        font-weight: 700;
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: @white;
            box-shadow: 0 0 0 1px inset @lightgreyishcyan;
            transition: 0.2s all;
        }

    }

    &__selected-tip {
        font-family: 'Space Mono', monospace;
        margin-top: 30px;
        padding: 10px 0;
        color: @strongcyan;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width : 767px) {
            margin-top: 10px;
        }
    }

    &__enter {
        position: absolute;
        bottom: 25px;
        width: ~'calc(100% - 60px)';
        padding: 10px;
        border: none;
        font-family: 'Space Mono', monospace;
        font-size: 20px;
        color: @strongcyan;
        background-color: @cyan;
        border-radius: 8px;

        &:hover {
            background-color: @white;
            box-shadow: 0 0 0 2px inset @strongcyan;
            transition: 0.2s all;
            cursor: pointer;
        }
    }
}

.hide {
    display: none;
}