

// color variables

@strongcyan : #26c0ab;
@strongcyan : #00494d;
@darkgreyishcyan : #5e7a7d;
@greyishcyan : #7f9c9f;
@lightgreyishcyan : #c5e4e7;
@verylightgreyishcyan : #f4fafa;
@white : #ffffff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tipcalculator{
    &__inner{
        max-width: 1440px;
        background-color: @lightgreyishcyan;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container{
        background-color: @white;
        padding: 30px;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        // width: 50%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 40px;
        
    }

    &__input{
        width: 50%;
        border: 1px solid black;
    }

    &__result{
        width: 50%;
        height: auto;
        background-color: @strongcyan;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;

    }

    &__options{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-opt{
            padding: 10px 10px;
            flex: 1 1 25%;
            border-radius: 5px;
            color: @white;
            background-color: @strongcyan;
            border: none;
            font-family: specimen;
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;

            &:hover{
                background-color: white;
                box-shadow: 0 0 0 2px inset @strongcyan;
                color: @strongcyan;
                transition: all 0.2s;
            }
        }
    }

    &__price{
        &-input{
            width: 100%;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            background-color: @lightgreyishcyan;
            border: none;
        }
    }
}