@import url('https://fonts.google.com/specimen/Space+Mono');


// color variables

@strongcyan : #26c0ab;
@strongcyan : #00494d;
@darkgreyishcyan : #5e7a7d;
@greyishcyan : #7f9c9f;
@lightgreyishcyan : #c5e4e7;
@verylightgreyishcyan : #f4fafa;
@white : #ffffff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tipcalculator{
    &__inner{
        max-width: 1440px;
        background-color: ;
    }
}