* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tipcalculator__inner {
  max-width: 1440px;
  background-color: #c5e4e7;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tipcalculator__container {
  background-color: #ffffff;
  padding: 30px;
  max-width: 750px;
  border-radius: 20px;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}
.tipcalculator__input {
  width: 50%;
  border: 1px solid black;
}
.tipcalculator__result {
  width: 50%;
  height: auto;
  background-color: #00494d;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.tipcalculator__options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tipcalculator__options-opt {
  padding: 10px 10px;
  width: 100px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00494d;
  border: none;
}
